@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

:root {
    --cor-primaria: #FFFFFF;
    --cor-secundaria: #C0C0C0;
    --cor-terciaria: #5F019E;
    --cor-botao: #DD57E7;
    --cor-fundo: #00030C;
    --fonte-principal: 'Inter';
}

*{
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--cor-fundo);
    color: var(--cor-primaria);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;

}

.principal {
    background-image: url("imagens/Background.png");
    background-repeat: no-repeat;
    background-size: contain;
    align-items: center;
    text-align: center;
}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
}

.container__caixa {
    margin: 0 6em;
}

.container__titulo {
    font-size: 28px;
    font-weight: 700;
}

.container__imagem {
    margin: 1em 0 2em 0;
    width: 70%;
}

.container__botao {
    background-color: var(--cor-botao);
    border-radius: 8px;
    padding: 1em;
    color: var(--cor-primaria);
    text-decoration: none;
    display: block;
    margin-bottom: 1em;
}

.container__botao:hover {
    background-color: var(--cor-terciaria);
    color: var(--cor-secundaria);
}

.botao__secundario {
    background-color: transparent;
    border: 2px solid var(--cor-primaria);
}

.botao__secundario:hover {
    background-color: transparent;
    color: var(--cor-secundaria);
    border-color: var(--cor-secundaria);
}

.container__aviso {
    font-size: 12px;
    color: var(--cor-secundaria);
}

.secundario {
    align-items: center;
    margin: 0 8em;
}

.secundario__imagem {
    width: 100%;
}

.descricao__titulo {
    font-weight: 700;
    font-size: 48px;
    color: var(--cor-primaria);
    margin-bottom: 0.3em;
}

.descricao__texto {
    color: var(--cor-secundaria);
}

.secundario__botao {
    display: inline-block;
    margin-top: 1em;
}

.container__descricao {
    padding: 2em;
}

.dispositivos {
    text-align: center;
}

.dispositivos__titulo {
    font-size: 48px;
    color: var(--cor-primaria);
}

.dispositivos__lista {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 5em 0;
}

.lista__item {
    font-size: 32px;
    color: var(--cor-primaria);
}

.rodape {    
    color: var(--cor-primaria);
    background-color: var(--cor-terciaria);;
    text-align: center;
}

.rodape__logo {
    margin: 1.5em;
}

.rodape__lista {
    display: flex;
    justify-content: center;
}

.lista__link {
    list-style-type: none;
    color: var(--cor-primaria);
    margin: 0 0.6em;
}

.lista__link__botao {
    text-decoration: none;
    font-size: 14px;
    color: var(--branco-principal);
}

.lista__link__botao:hover {
    color: var(--cor-secundaria);
}

.lista__link__botao:active {
    color: var(--cor-botao);
}

.rodape__texto {
    font-size: 12px;
    color: var(--cor-secundaria);
    margin: 1em;
}